# 
.env
*.p8
*.pem
*.pub
rsa_key*
.streamlit/secrets.toml
**/.dlt/secrets.toml


.venv/
__pycache__/
*.py[cod]

#
.user.yml
target/
dbt_packages/
logs/


.tmp*/
dagster_home/


.ipynb_checkpoints/

.vscode/
.idea/
.DS_Store
